@import "tailwindcss";

.board {
  display: flex;
  flex-direction: column;
}

.line {
  display: flex;
  gap: 5px;
}

.tile {
  width: 50px;
  height: 50px;
  border: 1px solid #222;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.correct {
  background-color: lightgreen;
}

.close {
  background-color: lightgoldenrodyellow;
}

.incorrect {
  background-color: lightcoral;
}
